.boximagepicker {
    display: flex;
    flex-wrap: wrap;

    &, * {
        box-sizing: initial;
    }

    &__box-container {
        flex: 0 0 1;

        &__box {
            box-sizing: border-box;
            cursor: pointer;

            &--selected {
                .boximagepicker__box-container__box__image-container {
                    border-color: #1669ff;
                }
            }

            &__image-container {
                border-radius: 2px;
                border-style: solid;
                border-color: transparent;
                transition: border-color 0.3s;

                &__image {
                    background-position: center;
                    background-size: cover;
                }
            }
        }

        &__label {
            font-size: 0.85em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}